{% extends 'web/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deploy Task by channel</title>
</head>
<body>
{% block content %}
    <input id="start" class="btn btn-sm btn-success" value="开始部署"/><p id="connect_status"></p>
    </br>
    <div id="content" class=" col-md-3" style="border:1px dashed cadetblue;min-height: 160px;border-radius: 10px;">
        <!--返回内容将在这里显示  -->
    </div>
    {% for server in deploy_server_list %}
        <div class="col-md-8 col-md-offset-1" style="border: 1px dashed cadetblue ;min-height:160px;border-radius: 10px;">
            <img width="100px" height="100px" src="{% static 'images/server.jpg' %}">
            {{ server }}
            <div class="progress">
                <div id="progress" class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0"
                     aria-valuemax="100"
                     style="">
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="col-md-offset-4">{{ page_html }}</div>
{% endblock content %}
</body>
{% block custom_js %}
    <script>

        var ws = new WebSocket('ws://127.0.0.1:8000/channel/{{ task_id }}/');
        ws.onopen = function (event) {
            $("#connect_status").text('连接成功');
        };
        ws.onmessage = function (event) {
            //# 收到消息时触发
            let content = $("#content");
            let tag = document.createElement('div');
            let data = JSON.parse(event.data);
            status = data['status'];
            let msg = data['msg'];
            let percent = data['percent'];

            tag.innerHTML = '<span style="color:green;">' + status + '</span>' + ':' + msg;
            content.append(tag);
            $("#progress").attr('aria-valuenow', percent);
            let style = 'width:' + percent + '%';
            $("#progress").attr('style', style);

            $("#progress").text(percent + '%');
        };
        ws.onclose = function (event) {
            $("#connect_status").text('断开连接');
            $("#content div").remove();
        }
        $(function () {
            $('#start').click(function () {
                ws.send(JSON.stringify({'action': 'start'}));
            });
        })
    </script>
{% endblock custom_js %}
</html>