{% extends 'web/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deploy Task by channel</title>
</head>
<body>
{% block content %}
    <h1> Deploy by channel:</h1>
    <div id="content">
        <!--返回内容将在这里显示  -->
    </div>
    <input id="start" class="btn btn-success" value="开始"/>
    <div class="col-md-12">

    </div>
    <div class="col-md-offset-4">{{ page_html }}</div>
{% endblock content %}
</body>
{% block custom_js %}
    <script>

        var ws = new WebSocket('ws://127.0.0.1:8000/channel/{{ task_id }}/');
        ws.onopen = function (event) {
            $("#content").text('连接成功')
        };
        ws.onmessage = function (event) {
            //# 收到消息时触发
            let content = $("#content");
            let tag = document.createElement('div');
            tag.innerHTML = event.data;
            content.append(tag);
        };
        ws.onclose = function (event) {

        };
        $(function () {
            $('#start').click(function () {
                ws.send(JSON.stringify({'action': 'start'}));
            });
        })
    </script>
{% endblock custom_js %}
</html>